<nav class="navbar navbar-fixed-top">
    <div class="container container-header">
        <div class="col-md-1"><button mat-button (click)="goToHome()">Logo</button></div>
        <div class="col-md-5"></div>
        <div class="col-md-6">
            <button mat-button (click)="goToPublication()" *ngIf="isLoggedIn">Publicar</button>
            <button mat-button (click)="goToLogin()" *ngIf="!isLoggedIn">Entrar</button>
            <span *ngIf="isLoggedIn">Bem vindo {{username}} !</span>
            <button mat-button (click)="goToProfile()" *ngIf="isLoggedIn">Meu Perfil</button>
            <button mat-button (click)="logout()" *ngIf="isLoggedIn">Sair</button>
        </div>
    </div>
</nav>