<h3>Esqueci a Senha</h3>

<form (keydown.enter)="$event.preventDefault()">
    <mat-form-field>
        <input matInput placeholder="E-mail" [formControl]="email" maxlength="60" required>
        <button tabindex="-1" mat-button *ngIf="canClearField('email')" matSuffix mat-icon-button aria-label="Clear" (click)="email.get('email').setValue('')">
        <mat-icon>close</mat-icon>
    </button>
    </mat-form-field>
    <button mat-button (click)="onSubmit()">Enviar</button>
    <button mat-button (click)="backToLogin()">Cancelar</button>
</form>