<h3>Esqueci a Senha</h3>

<form [formGroup]="forgotPasswordForm" (keydown.enter)="$event.preventDefault()">
    <mat-form-field>
        <input matInput placeholder="E-mail" formControlName="email" maxlength="60" required>
        <button tabindex="-1" mat-button *ngIf="canClearField('email')" matSuffix mat-icon-button aria-label="Clear"
            (click)="forgotPasswordForm.get('email').setValue('')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <button mat-button (click)="onSubmit()">Enviar</button>
    <button mat-button (click)="backToLogin()">Voltar</button>
</form>
