@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    margin: 0;
    background-color: #F1F1F1;
    font-family: 'Open Sans';
    padding-top: 100px;
}

body>.container {
    padding: 0px 30px 0;
}

@media only screen and (max-device-width:480px) {
    body {
        padding: 50px 0px 0px 0px;
    }
    .container {
        width: 97% !important;
    }
}


/* 
@media only screen and (max-device-width:1366px) {
    .container {
        width: 1200px;
    }
} */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 950px;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 1000px;
    }
}

@media (min-width: 1366px) {
    .container {
        width: 1300px !important;
    }
}

@media (min-width: 1500px) {
    .container {
        width: 1500px !important;
    }
}

nav.navbar.navbar-fixed-top {
    height: 70px;
    background-color: #FFF;
    box-shadow: 0 2px 2px 0 transparent, 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    position: fixed !important;
    right: 0;
    left: 0;
    z-index: 1030;
}

.container-header {
    border: none;
    padding-left: 0;
    padding-right: 0;
}

.mosaic-content {
    display: block;
}

.mat-card {
    width: 250px;
    height: 450px;
    padding: 0px !important;
    border-radius: 0px !important;
}

.mat-card-header {
    border-bottom: 1px solid #e0e0e0;
    height: 55px;
}

.mat-card-header-text {
    margin-top: 4px;
}

.mat-card-title {
    font-weight: bold;
    font-size: 18px !important;
}

.mat-card-image {
    width: 250px !important;
    margin: 0 !important;
    margin-bottom: 10px !important;
}

.mat-card-content .card-itens {
    margin-left: 7px;
}

.mosaic-card {
    margin-bottom: 20px;
}

.mosaic-card-item-operation-type {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    height: 20px;
}

.filter-content {
    margin-bottom: 15px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.filter-content form {
    margin: 12px;
}

.filter-content form .mat-form-field {
    margin-right: 15px;
}

.filter-activated {
    margin-bottom: 10px;
}

.gallery-publication {
    height: auto;
    padding: 0;
    height: 410px;
}

.user-info {
    height: auto;
    padding: 0;
    height: 410px;
    box-shadow: 0 2px 2px 0 transparent, 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.publication-detail {
    width: 100%;
    height: 500px;
    background-color: #eeeeee8c;
    margin-top: 10px;
}

.ngx-gallery-thumbnail {
    width: 33% !important;
    height: 90px !important;
}

.mat-form-field {
    width: 100%;
}

textarea.mat-input-element.cdk-textarea-autosize {
    resize: auto !important;
    height: 100px !important;
    min-height: 80px !important;
}
